<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width"> -->
    <meta content="width=device-width,minimum-scale=1.0" name="viewport">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1"> -->
    <link rel="stylesheet" href="style.css">
	<title>Cafe FORE</title>    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        *{      
            font-family: 'Jost', sans-serif;
        }
    </style>    
    <script src="https://kit.fontawesome.com/ad06c7c185.js" crossorigin="anonymous"></script>
    
    <link rel="icon" href="/images/logo.png">
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar_or">
            <div class="navbar_w4">
                <div class="navbar_logo">
                    <a href="http://localhost:8080" class="logo_btn"></a>
                    <!-- <a href="./cafeFORE">Cafe FORE</a> -->
                </div>

                <a href="javascript:;" class="navbar_toggleBtn">
              
                </a>
        <!-- </div> -->
            </div>
            <ul class="navbar_nav_list">
                <!-- <li><a href="/" data-link-T>HOME</a></li> -->
                <li><a href="/about" data-link-T>ABOUT</a></li>
                <li><a href="/menu" data-link-T>MENU</a></li>   
                <li><a href="/shop">ONLINE SHOP</a></li>             
                <li><a href="/contact" data-link-T>CONTACT</a></li>
                <!-- <li><a href="/test">test</a></li> -->
                
            </ul>
            <div class="login">
                <div class="user_info">
                    <button class="user_info_btn"><%= post %></button>
                </div>
                <div class="user_profile_container">
                    <div class="user_profile">
                        <div class="user_profile_name"></div>
                    </div>
                </div>
                
            </div>
            <!-- <div class="test">
                <button class="test_btn">test_test</button>
            </div> -->
            <div class="navbar_icons">
                <button class="go_cart">Cart</button>
                <!-- <a href="//www.facebook.com/Cafe-FORE-103402129218652/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="//www.instagram.com/cafe_fore/" target="_blank"><i class="fab fa-instagram"></i></a> -->


            </div>
        </div>
    </nav>

    <section class="main">
        
        <div class="modal">
            <div class="modal_page">
                <div class="modal_body">                    
                </div>
            </div>
        </div>
        
        
        <div id="lorem" class="lorem">
            <div class="online_container">
                <div class="online_title">
                    Cafe FORE Online Shop
                    <form class="example" action="action_page.php">
                        <input type="text" placeholder="Search.." name="search">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                    <div class="shop_category">
                        <div class="shop_cat_wellness">
                            <button class="shop_wellness_btn">Wellness</button>
                        </div>
                        <div class="shop_cat_dessert">
                            <button class="shop_dessert_btn">Dessert</button>
                        </div>
                        <div class="shop_cat_kids">
                            <button class="shop_kids_btn">Kids</button>
                        </div>
                        <div class="shop_cat_test">
                            <button class="shop_test_btn">Test</button>
                        </div>
                    </div>
                </div>
            
                    <div class="online_main">
                        Popular item
                        <div class="online_main_items">
                            
                            
                            <% for (var i = 0 ; i < product.length ; i++) { %>
                            <div class="online_main_item_contatiner">
                                <div class="online_main_item_pic_container">
                                    <a href="/shop/view/item/<%= product[i].prodnum %>">
                                        <img class="online_main_item_pic" src=<%= product[i].image %> >
                                    </a>
                                </div>
                                
                                <div class="online_main_item_number" style="display: none;">                    
                                    <%= product[i].prodnum %>                
                                </div>
                                <div class="online_main_item_name">                    
                                    <a href="/shop/view/item/<%= product[i].prodnum %>"><%= product[i].name %>
                                    </a>               
                                </div>
                                <div class="online_main_item_price">                    
                                    <a href="/shop/view/item/<%= product[i].prodnum %>">$<%= product[i].price_sell %>
                                    </a>
                                </div>
                            </div>          
                                
                            <% } %>





                        </div>
                    </div>






                
                <!--  
                <div class="online_items">
                    <% for (var i = 0 ; i < product.length ; i++) { %>
                    <div class="online_item_pic_container">
                        <img class="online_item_pic" src=<%= product[i].image %> >
                    </div>
                    <div class="online_item_number" style="display: none;">                    
                        <%= product[i].prodnum %>                
                    </div>
                    <div class="online_item_name">                    
                        <%= product[i].name %>                
                    </div>
                    <div class="online_item_price">                    
                        $<%= product[i].price_sell %>
                    </div>

                    <div class="online_item_description">                    
                        <%= product[i].content %>
                    </div>

                    <div class="online_item_quantity"> 
                        <select name="Choose Your Quantity" id="order_quantity" >
                            <option value="0">Choose Your Quantity</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
    
                    <button class="add_cart_btn">Add Cart</button>
                    <button class="buy_now_btn">BUY IT NOW</button>
                    <br><br><br>

                    <% } %>
                    <div class="check_go_cart_container">                       
                    </div>                    
                </div>
                -->



            </div>
        </div>     
    </section>

    
    
    <section class="footer" style="padding-left: 0px; padding-right: 0px;">
        <div class="footer_first">
            <div class="footer_left">
                <div class="foot_address">
                    <br>
                    <span><i aria-hidden="true" class="fas fa-map-marker-alt"></i></span>
                    <span><bold>LOCATION.</bold></span><br>
                    <div class="foot_adr">
                    4400 Roswell RD Ste 126<br>
                    Inside LA Fitness<br>
                    Marietta, GA 30062<br><br>
                    
                    <span>
                        <a href='tel:470-263-6495'><i aria-hidden="true" class="fas fa-phone-alt"></i></span>
                        <span>(470) 263-6495</span></a></div><br>
                </div>   
    
            </div>
            <div class="footer_mid">
                <div class="foot_hours">
                    
                    <br>
                    <span><i aria-hidden="true" class="fas fa-clock"></i></span>
                    <span><bold>HOURS.</bold></span><br>
                    
                    <div class="foot_hr">
                    Monday - Friday<br>
                    11am - 8pm<br>  
                    Satday - Sunday<br>
                    12 - 6pm<br>                    
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_second">
            <div class="footer_mid2">
                <div class="foot_icons">
                    <a href="//www.facebook.com/Cafe-FORE-103402129218652/" target="_blank" style="padding-right: 2rem;"><i class="fab fa-facebook"></i></a>
                    <a href="//www.instagram.com/cafe_fore/" target="_blank"><i class="fab fa-instagram"></i></a>
                    
                </div>
            </div>
    
            <div class="footer_right">
                <div class="logo_btn foot_logo"></div><i class="fa-solid fa-angles-up"></i>
            </div>
        </div>  
        shop_get.ejs      
    </section>
	
    <script type="module" src="index.js"></script>
    <script type="module" src="./pages/login.js"></script>
    <script type="module" src="./pages/shop.js"></script>
   
    

    
</body>
</html>
